<div class=" bg-white">
    <div class="container">
        <div class="card card-container">
            <div class="card1">
             <img id="profile-img" class="profile-img-card" src="../../assets/images/kantar-icon.svg" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="">
                <h1 class="title mt center"><b>KANTAR </b><small class="success thin">Jade</small></h1>
                <h5 class="title mt center">Log in with your kantar office365 credentials</h5>
                <span class="m-l-20"><a class="waves-effect waves-light btn outlined round w-100"
                        routerLink="Dashboard"><b>Login</b></a></span>

            </form><!-- /form -->
            </div>
        </div><!-- /card-container -->
    </div><!-- /container -->
        
    <div class="center mt-12">Having trouble logging?<a href="">Contact Us</a></div>
</div>
