.app { height: 100vh; }
.sidenav {
//   background-color: rgb(68, 68, 68) !important;
}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.example-sidenav-container { flex: 1; }
.example-sidenav{
  -webkit-transition: width .4s;
  transition: width .4s;
}
.mat-drawer{ background:White; }
.example-sidenav-content {
  display: flex;
  height: 100vh;
  background-color: white;
  opacity: 0.9;
}
.example-fill-remaining-space { flex: 1 1 auto; }
.mat-body p, .mat-body-1 p, .mat-typography p {
  margin: -27px 100px 0px !important;
}
.mt {
    margin-top: 5%;
}
.success {
    color: #16c72c;
}
.m-auto {
  margin: auto;
}
.ft-70 {
  font-size: 70px;
}
.mat-list-base {
  // border-bottom: 1px solid grey;
  width: 200px;
  padding-bottom: 16px;

  & .mat-list-item {
    display: flex;
    cursor: pointer;
    color: black;
    width: auto;
    padding-left: 4px;

    &.active {
      color: black;
      background-color: green;
      outline: none;

      & .mat-icon {
        color: blue;
      }

      & .circle {
        background-color: black;
      }
    }

    &:hover {
      background-color: #ccc;
    }

    &:focus {
      outline: none;
    }
  }
}

.mat-icon {
  margin-right: 15px;
  color: grey;
}


.sidebar-title {
  color:white;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 32px;
  margin-left: 24px;
  margin-bottom: 16px;
}

.mat-list-base .mat-list-item.ui-element {
  padding-left: 40px;
}

.circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: grey;
  margin-right: 30px;
}

.project-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 8px;
  }

// .menu-button {
//   transition: 300ms ease-in-out;
//   transform: rotate(0deg);
// }
// .menu-button.rotated {
//   transform: rotate(180deg);
// }
// .submenu {
//   overflow-y: hidden;
//   transition: transform 300ms ease;
//   transform: scaleY(0);
//   transform-origin: top;
//   padding-left: 30px;
// }
// .submenu.expanded {
//   transform: scaleY(1);
// }
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: 300ms ease-in-out;
  height: 0;
}
.submenu.expanded {
  height: 490px;
  position: relative;
  left: 15px;
}
.submenu.expanded1 {
  height: 280px;
  position: relative;
  left: 15px;
}
.submenu.expanded2 {
  height: 490px;
  position: relative;
  left: 15px;
}
.d-inline {
  display: inline-flex;
}